<div class="chat-header">
<div class="left-header">
    <div class="header-title">
      <span>『ChaTalk』</span>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">退室する</a>
    </div>
  </div>
</div>

<div class="messages">
 <div class="message">
    <div class="upper-message">
      <div class="message-user">
        
      </div>
      <div class="message-date">
        
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        
      </div>
      <div class="message-date">
        
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
      
      </div>
    </div>
  </div>
</div>

<div class="form">
  <textarea name="message" placeholder="type a message" class="form_message"></textarea>
  <input class="form-submit" type="submit" value="送信">
</div>